<div class="fixed left-0 right-0 top-0 bottom-0" style="background-color: rgba(0, 0, 0, 0.6); display: none;" id="dark"></div>
<dialog id="sure-{{ action }}-{{ post.id }}" class="top-1/2 -translate-y-1/2 fixed shadow-lg rounded-md z-15 p-8">
    <p>Are you sure that you want to {{ action }} ?</p>
    <input type="submit" data-id="{{ post.id }}" value="Yes" class="{{ class }} bg-green-500 form-input focus:border-4 shadow-md hover:bg-green-600 border-neutral-600 text-neutral-100 mt-3 p-2 cursor-pointer border-2 rounded">
    <input onclick="this.parentNode.close(); document.getElementById('{{ post.id }}').show();" type="submit" value="No" class="bg-red-600 form-input focus:border-4 shadow-md hover:bg-red-700 border-neutral-600 text-neutral-100 mt-3 p-2 cursor-pointer border-2 rounded">
</dialog>