<dialog id="{{ post.id }}" style="height: 90%; width: 80%;" class="left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 fixed shadow-lg rounded-md z-15 p-8">
    <button id="{{ post.id}}-close" class="float-right" data-id="{{ post.id }}" onclick="closeDialog(this);; document.body.style.overflow = 'auto';"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /></svg></button>
    
    <img src="/media/{{ post.images }}" alt="{{ post.title }}" class="w-2/4 h-full border float-left inline border-neutral-300 rounded">
    <div class="float-left inline px-6">
        {% if request.user == post.author %}
            <button onclick="document.getElementById('{{ post.id }}-edit').show(); this.parentNode.parentNode.close();">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                  </svg> 
            </button>
            <button class="inline" onclick="document.getElementById('sure-delete this post-{{ post.id }}').show(); this.parentNode.parentNode.close();" >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8"><path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" /></svg>     
            </button>
            
        {% endif %}
    </div>
    <div class="float-right w-2/4 h-full">
        <h4 class="text-2xl" id="post-modal-title-{{ post.id }}">{{ post.title }}</h4>
        <div class="px-6 break-words overflow-y-auto scroll" style="height: 350px;">
            <p id="post-modal-text-{{ post.id }}">{{ post.text|safe }}</p>
            <hr class="bg-neutral-600 my-2">
            <div id="comments-{{ post.id }}">
                
                {% for comment in post.comments.all %}
                    {% include 'macros/comment.html' with comment=comment %}
                {% endfor %}
            </div>
        </div>
        <div class="mt-6 flex">
            <textarea type="text" id="comment-{{ post.id }}" class="mx-3 w-full form-input border-neutral-700 p-1 border focus:border-neutral-700 focus:outline focus:outline-1 shadow-md rounded" name="comment" id="comment" placeholder="Write a comment"></textarea>
            <button data-id="{{ post.id }}" class="create-comment-btn">Write!</button>
        </div>
    </div>
    
</dialog>
{% if request.user == post.author %}
    {% include 'macros/confirm.html' with action='delete this post' class='delete-post-btn' %}
    {% include 'macros/edit_post.html' with post=post %}
{% endif %}