{% if message.author == request.user %}
    <div class="message border-2 my-2 border-gray-400 rounded-2xl max-w-2xl p-3 bg-blue-400 float-right clear-both w-fit">
        <p class="text-right">{{ message.body }}</p>
    </div>
{% else %}
    <a href="/profile/{{ user.id }}" class=" message float-left clear-both flex items-center gap-2">
        <img src="../..{{ user.avatar.url }}" alt="{{ user.username }}" class="h-12 w-12 rounded-full border border-neutral-300 object-cover inline">
        <div class="border-2 my-2 border-gray-600 rounded-2xl max-w-2xl p-3 bg-gray-400 w-fit">
            <p class="text-left">{{ message.body }}</p>
        </div>
    </a>
{% endif %}